{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "standard",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "no-useless-constructor": "off",
        "@typescript-eslint/no-useless-constructor": "error",
        "@typescript-eslint/member-delimiter-style": "warn",
        "@typescript-eslint/ban-ts-ignore": "warn",
        "@typescript-eslint/ban-ts-comment": "warn",
        "@typescript-eslint/no-explicit-any": "off",
        "no-trailing-spaces": [
            "error",
            {
                "ignoreComments": true
            }
        ],
        "comma-dangle": [
            "warn",
            "always-multiline"
        ]
    },
    "env": {
        "jest": true
    }
}