{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": "standard",
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "error",
        "@typescript-eslint/no-misused-new": "error",
        "@typescript-eslint/member-delimiter-style": "warn",
        "no-trailing-spaces": [
            "error",
            {
                "ignoreComments": true
            }
        ],
        "comma-dangle": [
            "warn",
            "always-multiline"
        ]
    },
    "env": {
        "jest": true
    }
}